/* === RESET E ESTILOS GERAIS === */
/* style.css */

#map {
    height: 500px;
    width: 100%;
  }
  
  #route-panel {
    background-color: #f8f9fa;
    padding: 10px;
    height: 500px;
    overflow-y: auto;
    border-left: 1px solid #dee2e6;
  }
  
  .leaflet-routing-container {
    display: none;
  }
  
  #searchBox {
    margin-bottom: 15px;
  }
  
  #partner-list {
    max-height: 200px;
    overflow-y: auto;
  }
  